{% extends 'layout.html' %}
{% block body %}
    {% if not doc %}
    <h1>Document Missing</h1>
    <p>The document you are requesting either never existed or has gone missing.</p>
    {% else %}
    <h1>
        <a href="/discovery/request/add/{{doc._id}}"><i class="fas fa-plus-circle fa-1x"></i></a>
        <span id="discovery_type">{{doc.discovery_type}}</span>
    </h1>
    <h3>{{doc.county}} COUNTY #{{doc.cause_number}}</h3>
    <div class="row">
        <div class="col-md-12">
            <input
                type="checkbox" 
                {% if doc.cleaned_up == 1 %} checked {% endif %}
                data-toggle="toggle"
                id="cleaned_button"
                data-on="<i class='far fa-check-circle'></i> Cleaned Up"
                data-off="<i class='far fa-question-circle'></i> Needs to be Cleaned Up"
                data-onstyle="success"
                data-offstyle="warning"
                data-size="mini"
                data-width="225"
                data-height="35"
            >
        </div>
    </div>
    <input type="hidden" id="_id" value="{{doc._id}}" />
    <ul class="list-group">
        {% for request in doc.requests %}
            <li class="list-group-item" id="row_{{request.number}}">
                <div class="row">
                    <div class="col-md-1">
                        <div class="row">
                            <a href="/discovery/request/{{id}}//{{request.number}}">
                                {{request.number}}
                            </a>
                        </div>
                        <div class="row">
                            <button
                                type="button"
                                style="display:none"
                                id="save_{{request.number}}"
                                class="btn btn-success btn-sm save_button">Save
                            </button>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="editable" contenteditable="true" id="request_{{request.number}}">
                                    {{request.request}}
                                </div> 
                            </div>
                            <div class="col-md-1">
                                <button
                                    type="button"
                                    id="del_{{request.number}}"
                                    class="btn btn-danger btn-sm float-right delete_button"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Delete this request.">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 bg-secondary text-white">
                                <div class="editable" contenteditable="true" id="response_{{request.number}}">
                                    {{request.response}}
                                </div> 
                            </div>
                            <div class="col-md-1">
                                <div class="row">
                                    <button
                                        type="button"
                                        id="obj_{{request.number}}"
                                        class="btn btn-warning btn-sm float-right object_button"
                                        data-toggle="modal"
                                        data-target="#ObjectionModal"
                                        data-placement="bottom"
                                        data-requestnumber="{{request.number}}"
                                        title="Raise standard objections.">
                                        <i class="fas fa-gavel"></i>
                                    </button>
                                </div>
                                <div class="row">
                                    <button type="button" id="obj_{{request.number}}" class="btn btn-success btn-sm float-right response_button"
                                        data-toggle="modal" data-target="#ResponseModal" data-placement="bottom"
                                        data-requestnumber="{{request.number}}" title="Select Response">
                                        <i class="fas fa-gavel"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="modal fade" id="ObjectionModal" tabindex="1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ObjectionModalTitle">Select Objections</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body objection-modal-body">
                    <form>
                        <span>Which objections pertain to request #</span><span id="objection_request_number">_____</span>?
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save_objections">Save Objections</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ResponseModal" tabindex="1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ResponseModalTitle">Select Response</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body response-modal-body">
                    <form>
                        <span>How are you responding to request #</span><span id="response_request_number">_____</span>?
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save_responses">Save Response</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function hide_save_buttons()
        {
            let buttons = document.getElementsByClassName('save_button');
            for (let button of buttons)
            {
                button.style.display = 'none';
            }
        }

        function show_save_button(request_number)
        {
            let button = document.getElementById('save_' + request_number);
            button.style.display = 'inline';
        }

        function add_edit_listeners()
        {
            let editables = document.getElementsByClassName('editable');
            for (let element of editables)
            {
                element.addEventListener('click', function(event)
                {
                    let target_name = event.target.id;
                    let target_number = target_name.split('_')[1];
                    let save_id = 'save_' + target_number;
                    let save_element = document.getElementById(save_id);
                    hide_save_buttons();
                    save_element.style.display = "inline";
                });
            }

            let save_buttons = document.getElementsByClassName('save_button');
            for (let button of save_buttons)
            {
                button.addEventListener('click', function(event)
                {
                    let target_name = event.target.id;
                    let target_number = target_name.split('_')[1];
                    let text_id = 'request_' + target_number;
                    let text_element = document.getElementById(text_id);
                    let text = text_element.innerText;
                    let response_id = 'response_' + target_number;
                    let response_element = document.getElementById(response_id);
                    let response_text = response_element.innerText;
                    let db_id = document.getElementById('_id').value;
                    controller.saveDiscoveryRequestText(db_id, target_number, text, response_text);
                    event.target.style.display = "none";
                });
            }
        }

        function add_delete_listeners()
        {
            let del_buttons = document.getElementsByClassName('delete_button');
            for (let button of del_buttons)
            {
                button.addEventListener('click', function(event)
                {
                    let target_name = event.target.id;
                    let target_number = target_name.split('_')[1];
                    let text_id = 'request_' + target_number;
                    let db_id = document.getElementById('_id').value;
                    controller.deleteDiscoveryRequest(db_id, target_number);
                    let row = document.getElementById('row_'+target_number);
                    row.style.display = "none";
                });
            }
        }

        function add_toggle_listeners()
        {
            $("#cleaned_button").change(function()
            {
                let value = $(this).prop('checked') ? 1 : 0;
                console.log("Cleaned up? " + value);
                let db_id = document.getElementById('_id').value;
                controller.setDiscoveryDocumentCleanedUp(db_id, value);
            });
        }

        function clear_objections()
        {
            $('.objection').prop('checked', 0);
        }

        function clear_responses()
        {
            $('.response').prop('checked', 0);
        }

        function get_selected_objections()
        {
            let objections = [];
            $.each($('.objection' + ':checked'), function(index, element)
            {
                objections.push(element.value);
            });

            return objections;
        }

        function get_selected_response()
        {
            let responses = [];
            $.each($('.response' + ':checked'), function(index, element)
            {
                responses.push(element.value);
            });

            return responses;
        }

        /**
         * Callback function for controller.getObjectionText()
         */
        function append_objections(request_number,objections)
        {
            request_elem = $('#response_' + request_number)[0];
            request_text = request_elem.innerText;
            var new_text = '';

            $.each(objections, function(index, objection)
            {
                new_text += "\tOBJECTION: " + objection.text + "\n";
            });

            var new_content = new_text + request_text;
            request_elem.innerText = new_content;
        }

        function get_objection_text(objections, request_number)
        {
            result = controller.getObjectionText(objections, request_number, append_objections);
            return result;
        }

        function get_objection_options()
        {
            discovery_type = $('#discovery_type').text();
            result = controller.getObjectionOptions(discovery_type, create_objection_options);
            return result;
        }

        function create_objection_options(objections)
        {
            /*
            For each possible objection, create a div like this:

            <div class="form-check">
                <input class="form-check-input objection" type="checkbox" value="RELEVANCE" id="obj_relevance">
                <label class="form-check-label" for="obj_relevance">Relevance</label>
            </div>
            */
            $.each(objections, function(idx, objection)
            {
                var div = '<div class="form-check">' +
                    '<input class="form-check-input objection" type="checkbox" value="'+objection.label+'" id="obj_'+objection.label+'">' +
                    '<label class="form-check-label" for="obj_'+objection.label+'">'+objection.text+'</label>' +
                    '</div>';
                $('.objection-modal-body form').append(div);
            });
        }

        function save_objections()
        {
            $('#save_objections').on('click', function()
            {
                let button = event.target;
                let element = $('#objection_request_number');
                let request_number = element.text();
                objections = get_selected_objections();
                get_objection_text(objections, request_number);
                $('#ObjectionModal').modal('hide');
                clear_objections();
                show_save_button(request_number);
            });
        }

        function populate_objection_modal()
        {
            $("#ObjectionModal").on('show.bs.modal', function(event)
            {
                var button = $(event.relatedTarget);
                var request_number = button.data('requestnumber');
                var modal = $(this);
                modal.find('#objection_request_number').text(request_number);
            });
        }

        /************
         * Responses
         ************/
        function append_responses(request_number, responses)
        {
            request_elem = $('#response_' + request_number)[0];
            request_text = request_elem.innerText;
            var new_text = '';

            $.each(responses, function(index, objeresponsection)
            {
                new_text += "\tRESPONSE: " + response.text + "\n";
            });

            var new_content = new_text + request_text;
            request_elem.innerText = new_content;
        }

        function get_response_text(responses, request_number)
        {
            result = controller.getResponseText(responses, request_number, append_responses);
            return result;
        }

        function get_response_options()
        {
            discovery_type = $('#discovery_type').text();
            result = controller.getResponseOptions(discovery_type, create_response_options);
            return result;
        }

        function create_response_options(responses)
        {
            /*
            For each possible response, create a div like this:

            <div class="form-check">
                <input class="form-check-input response" type="checkbox" value="PERMITTED" id="resp_permitted">
                <label class="form-check-label" for="resp_permitted">Discovery will be permitted</label>
            </div>
            */
            $.each(responses, function(idx, response)
            {
                var div = '<div class="form-check">' +
                    '<input class="form-check-input response" type="checkbox" value="'+response.label+'" id="resp_'+response.label+'">' +
                    '<label class="form-check-label" for="resp_'+response.label+'">'+response.text+'</label>' +
                    '</div>';
                $('.response-modal-body form').append(div);
            });
        }

        function save_responses()
        {
            $('#save_responses').on('click', function()
            {
                let button = event.target;
                let element = $('#response_request_number');
                let request_number = element.text();
                responses = get_selected_responses();
                get_response_text(responses, request_number);
                $('#ResponseModal').modal('hide');
                clear_responses();
                show_save_button(request_number);
            });
        }

        function populate_response_modal()
        {
            $("#ResponseModal").on('show.bs.modal', function(event)
            {
                var button = $(event.relatedTarget);
                var request_number = button.data('requestnumber');
                var modal = $(this);
                modal.find('#response_request_number').text(request_number);
            });
        }


        function discovery_requests_init()
        {
            document.addEventListener('DOMContentLoaded', function()
            {
                add_edit_listeners();
                add_delete_listeners();
                add_toggle_listeners();
                populate_objection_modal();
                save_objections();
                get_objection_options();
                populate_response_modal();
                save_responses();
                get_response_options();
            });
        }

        discovery_requests_init();
    </script>
    {% endif %}
        
{% endblock %}
