{% extends 'layout.html' %}
{% block body %}

    <div class="row">
        <h1>{{vehicle.year or ""}} {{vehicle.make or ""}} {{vehicle.model or ""}}</h1>
    </div>
    <div class="row mb-6">
        <small class="muted">{{vehicle.model_desc or ""}}</small>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row"><h3>Current Owner</h3></div>
            <div class="row">
                {{vehicle.owner_name}}
            </div>
            <div class="row">
                {{vehicle.owner_street}}
            </div>
            <div class="row">
                {{vehicle.owner_city}}, {{vehicle.owner_state}} {{vehicle.owner_zip}}
            </div>
        </div>

        <div class="col-md-4">
            <div class="row"><h3>Notices To</h3></div>
            <div class="row">
                {{vehicle.notice_name or ""}}
            </div>
            <div class="row">
                {{vehicle.notice_street or ""}}
            </div>
            <div class="row">
                {{vehicle.notice_city or ""}} {{vehicle.notice_state or ""}} {{vehicle.notice_zip or ""}}
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="row"><h3>Previous Owner</h3></div>
            <div class="row">
                {{vehicle.prev_owner_name or ""}}
            </div>
            <div class="row">
                {{vehicle.prev_owner_street or ""}}
            </div>
            <div class="row">
                {{vehicle.prev_owner_city or ""}}, {{vehicle.prev_owner_state or ""}} {{vehicle.prev_owner_zip or ""}}
            </div>
        </div>
    </div>

    <div class="row"><hr /></div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="row"><small class="font-weight-bold">VIN</small></div>
            <div class="row">{{vehicle.vin or ""}}</div>
        </div>
        <div class="col-md-4">
            <div class="row"><small class="font-weight-bold">Plate</small></div>
            <div class="row">{{vehicle.plate or ""}}</div>
        </div>
        <div class="col-md-4">
            <div class="row"><small class="font-weight-bold">Prev Plate</small></div>
            <div class="row">{{vehicle.prev_plate or ""}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="row"><small class="font-weight-bold">Title Date</small></div>
            <div class="row">{{vehicle.title_date or ""}}</div>
        </div>
        <div class="col-md-4">
            <div class="row"><small class="font-weight-bold">Sold Date</small></div>
            <div class="row">{{vehicle.sold_date or ""}}</div>
        </div>
        <div class="col-md-4">
            <div class="row"><small class="font-weight-bold">Sold Price</small></div>
            {% if vehicle.sold_price %}
            <div class="row">{{"${:,.2f}".format(vehicle.sold_price)}}</div>
            {% else %}
            <div class="row">(unknown)</div>
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="row"><small class="font-weight-bold">Body Type</small></div>
            <div class="row">{{vehicle.body_type or "(unknown)"}}</div>
        </div>
        <div class="col-md-4">
            <div class="row"><small class="font-weight-bold">Vehicle Class</small></div>
            <div class="row">{{vehicle.class_code or "(unknown)"}}</div>
        </div>
        <div class="col-md-4">
            <div class="row"><small class="font-weight-bold">Color(s)</small></div>
            <div class="row">{{vehicle.main_color or ""}} / {{vehicle.other_color or ""}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="row"><h3>Lien Holders</h3></div>
            {% for lien in vehicle.lien_holders %}
            <div class="row">
                <small class="muted"># {{lien.position}} // ({{lien.number}}) // {{lien.date}}</small>
            </div>
            <div class="row">{{lien.name}}</div>
            <div class="row">{{lien.city_state_zip}}</div>
            <div class="row">{{lien.country or ""}}</div>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <div class="row"><h3>Value Schedule</h3></div>
            <div class="row">{{vehicle.amortization_message}}</div>
            <table class="table table-hover table-striped table-sm">
                <caption>Depreciation Schedule</caption>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th class="text-right">Beginning<br/>Value</th>
                        <th class="text-right">Depreciation</th>
                        <th class="text-right">Ending<br/>Value</th></tr>
                </thead>
                <tbody>
            {% for line in vehicle.amortization_schedule %}
                    <div class="row">
                        <tr><td>{{line.year}}</td>
                            <td class="text-right">{{ "${:,.2f}".format(line.begin_value)}}</td>
                            <td class="text-right">{{ "(${:,.2f})".format(line.depreciation)}}</td>
                            <td class="text-right">{{ "${:,.2f}".format(line.end_value)}}</td></tr>
                    </div>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}

<!--
    self.owner_city = None
    self.owner_name = None
    self.owner_state = None
    self.owner_street = None
    self.owner_zip = None

    self.prev_owner_city = None
    self.prev_owner_name = None
    self.prev_owner_state = None
    self.prev_owner_street = None
    self.prev_owner_zip = None

    self.notice_owner_city = None
    self.notice_owner_name = None
    self.notice_owner_state = None
    self.notice_owner_street = None
    self.notice_owner_zip = None

    self.plate = None
    self.prev_plate = None
    self.vin = None

    self.title_date = None
    self.sold_date = None
    self.sold_price = None

    self.year = None
    self.make = None
    self.model = None
    self.model_desc = None
    self.body_type = None
    self.class_code = None
    self.main_color = None
    self.other_color = None
-->
