{% if session.logged_in %}
<div class="container-fluid text-center bg-info" id="case_information">
    <small>ACTIVE CASE: </small>
    <small rv-text="data.case.description"></small> (<small rv-text="data.case.cause_number"></small>)
    <button
        type="button"
        data-cause-number=""
        data-description=""
        data-id=""
        rv-on-click="controller.setCase"
        rv-show="data.case.id"
        class="btn btn-outline-light btn-sm my-1">Clear</button>
</div>
{% endif %}
  