{% if session.logged_in %}
<div class="container-fluid text-center bg-info"
     id="case_information"
     rv-show="{% if session.case %}1{% else %}0{% endif %}">
    <small>ACTIVE CASE: </small>
    {% if session.case %}
    <small>{{ session.case.description }}</small> (<small>{{ session.case.cause_number }}</small>)
    {% endif %}
    <button
        type="button"
        data-cause-number=""
        data-description=""
        data-id=""
        rv-on-click="controller.setCase"
        class="btn btn-outline-light btn-sm mx-1 my-1">Clear</button>
    <button
        type="button"
        data-cause-number=""
        data-description=""
        data-id=""
        rv-on-click="controller.showCaseItems"
        class="btn btn-outline-light btn-sm mx-1 my-1">Items</button>
</div>
{% endif %}
  