<nav class="navbar navbar-expand-md navbar-default ">
    <a class="navbar-brand" href="/">DiscoveryBot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/articles">Articles</a>
        </li>
        {% if session.logged_in %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/search" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/search/dl">Driver's License</a>
            <a class="dropdown-item" href="/search/dmv">Motor Vehicles</a>
            <a class="dropdown-item" href="/search/rp">Real Property</a>
          </div>
        </li>
        {% endif %}
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        <li class="nav-item"><a class="nav-link" href="/settings"><span style="font-size:1em; color:green"><i class="fas fa-cog"></i></span></a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>