{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4">About Discovery Bot</h1>
        <p class="lead">
            Let the Bot Do It.
        </p>
    </div>
    <p>DiscoveryBot helps attorneys hasten the process of discovering information about the people and
        property involved in their cases. Data are drawn from many sources, including:
    </p>
    <ul>
        <li>Public Data (<a href="http://wwww.publicdata.com">www.publicdata.com</a>)</li>
        <li>Zillow (<a href="http://www.zillow.com">www.zillow.com</a>)</li>
        <li>DiscoveryBot proprietary algorithms, AI models, and learned heuristics.</li>
    </ul>
{% endblock %}
