{% extends 'layout.html' %}
{% block body %}

    <div class="row">
        <h1>{{driver.first_name or ""}} {{driver.middle_name or ""}} {{driver.last_name or ""}} {{driver.suffix or ""}}</h1>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="row"><small class="muted">Address</small></div>
            <div class="row"><a href="/search/dl_address?a={{driver.linkable_address}}&s={{driver.state}}&case_id={{case_id}}">{{driver.address or ""}}</a></div>
            <div class="row">{{driver.city or ""}}</div>
        </div>
        <div class="col-md-4">
            <div class="row"><small class="muted">Birth Date</small></div>
            <div class="row">{{driver.dob or ""}}</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="row"><small class="muted">License #</small></div>
            <div class="row">{{driver.license_number or "(missing)"}}</div>
        </div>
        <div class="col-md-4">
            <div class="row"><small class="muted">Type</small></div>
            <div class="row">Type: {{driver.license_type or "(unknown)"}}</div>
        </div>
        <div class="col-md-4">
            <div class="row"><small class="muted">Issue date</small></div>
            <div class="row">Issued: {{driver.issue_date or "(missing)"}}</div>
        </div>
    </div>
    
{% endblock %}

<!--
    self.first_name = None
    self.middle_name = None
    self.last_name = None
    self.suffix = None

    self.address = None
    self.city = None
    self.dob = None

    self.license_number = None
    self.license_type = None
    self.issue_date = None
-->
