{% extends 'layout.html' %}
{% block body %}
    <h1>Motor Vehicle Search</h1>
    <form class="needs-validation" novalidate method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" name="state" required>
                    <option value="tx" selected>Texas</option>
                    <option value="co">Colorado (OLD)</option>
                    <option value="ms">Mississippi (OLD)</option>
                    <option value="wv">West Virginia (OLD)</option>
                    <option value="wi">Wisconsin (OLD)</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="broad_search">Entire record</label>
                <input type="text" class="form-control" id="broad_search" name="search">
                <small class="text-muted">HINT: Do not specify street designations such as "drive" or "circle".</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="owner_name">Owner name</label>
                <input type="text" class="form-control" id="owner_name" name="owner_name">
                <small class="text-muted">HINT: Use double pipes ("||") to separate variations, e.g. Tom Daley||Thomas Daley.</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="plate">License plate</label>
                <input type="text" class="form-control" id="plate" name="plate">
            </div>
            <div class="col-md-6 mb-3">
                <label for="vin">VIN</label>
                <input type="text" class="form-control" id="vin" name="vin" placeholder="" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 xmr-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit" name="search_type" value="conjunctive"><i class="fas fa-sort-amount-down"></i>Search</button>
            </div>
            <div class="col-md-6 xml-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit" name="search_type" value="disjunctive"><i class="fas fa-sort-amount-up"></i>Search</button>
            </div>
        </div>
    </form>
{% endblock %}
